<div class="container-fluid">
    <div class="row">
        <div style="height: 92vh;width:fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
         <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/">Home</a>
         <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/books">Books</a>
         <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/members">Members</a>


        </div>
        <div class="col-lg-10 p-0" >
            <div style="position:relative;width: 93vw;height:92vh;">
                <h1 style="position: absolute;top: 20%;left: 50%;transform: translateX(-50%);color: white;z-index: 1;">Welcome To Library</h1>
                <img src="https://farm1.staticflickr.com/130/376152628_249e3630c0_o_d.jpg" style="width: 92vw;height:92vh;object-fit: cover;" alt="">

            </div>
        </div>

    </div>
</div>